<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Genero (sexo)</th>
			<th scope="col">Biografia</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Signo Zodiacal</th>
		</tr>
	</thead>
	<tbody>
		@for (author of authors; track author) {
			<tr>
				<th scope="row">{{ author.id }}</th>
				<td>{{ author.fullName }}</td>
				<td>{{ author.gender }}</td>
				<td>{{ author.bio }}</td>
                <td>{{ author.birthdate | date }}</td>
                <td>
					<dsb-badge-atom
						[text]="author.zodiacSign"
						[type]="categoryMap[author.zodiacSign]" >
                    </dsb-badge-atom>
				</td>
			</tr>
		}
	</tbody>
</table>
